/cryptodev-linux/nbproject/private/
/cryptodev-linux/.kdev4/
/cryptodev_demos/nbproject/private/
/cryptodev_demos/.kdev4/
/cryptodev_demos/.deps/
/cryptodev_demo/nbproject/private/
/cryptodev_demo1/nbproject/private/